<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
</head>
<body>
    <h1>Welcome TO Deep's Image Classification</h1>
    <p>We can classify Huge Buildings from Streets,mountains from glaciers and also sea and beautiful forests.</p>

    <form method='POST' action='/' enctype="multipart/form-data">
        <input type="file" name='user_img'>
        <br><br>
        <input type="submit">
    </form>
    
    {% if context %}
        <p>Your Image is : <br><img src="{{context['image']}}"> </p>
        <br>
        <br>
        <p>Our Prediction Is :{{context['prediction']}}
    {% endif %}

</body>
</html>